/*Home*/
h1{
  border-bottom: 1px solid black;
  color: orange;
  letter-spacing: 2px;
}

a{
  text-align: center;
  padding: 5%;
  letter-spacing: 5px;
  text-decoration: none;
  color: black;
  display: inline-block;
  font-family: 'Wire One', sans-serif;
}

.main-links{
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 30px;
  margin-top: 10px;
  animation: mymove 2s infinite;
}

.main-links:hover{
  color: red;
}

.home{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation: fadeIn 6s;
}

.titles{
  display: flex;
  justify-content: center;;
  align-items: center;
  flex-direction: column;
  font-family: 'Wire One', sans-serif;
}

#zaragosa{
  height: 50%;
  width: 50%;
  display: block;
  float: right;
  margin-top: 5%;
}

@keyframes example {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes mymove {
  0%   { background-color: rgba(0, 255, 255, 1); }
  50%  { background-color: rgba(0, 255, 255, 0); }
  100% { background-color: rgba(0, 255, 255, 1); }
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
