/*Home*/
/*body{
  background: url(/images/house.jpg) center;
  background-size: 50%;
  background-repeat: no-repeat;
}*/

h3{
  text-align: center;
  margin-top: 25%;
  font-size: 100%;
}

nav{
  text-align: center;
}

nav a{
  text-align: center;
  padding: 5%;
  letter-spacing: 5px;
  text-decoration: none;
}
