/*Home*/
/*body{
  background: url(/images/house.jpg) center;
  background-size: 50%;
  background-repeat: no-repeat;
}*/

.zaragosa{
  text-align: center;
  /*margin-top: 25%;*/
  font-size: 100%;
  font-family: 'BioRhyme Expanded', serif;
  position: relative;
  background-color: white;
  animation-name: example;
  animation:
      first-animation 2s infinite,
      another-animation 1s;
  opacity: 100%;
  display: inline;;
  position: relative;
}

@keyframes example {
  from { top: 0; left: 0; }
  to   { top: 100px; left: 100px; }
}

nav{
  /*background-image: url('/images/house.jpg');
  background-size: 40%;
  background-repeat: no-repeat;*/
  text-align: center;
  opacity: 100px;
  display: relative;
}

nav a{
  text-align: center;
  padding: 5%;
  letter-spacing: 5px;
  text-decoration: none;
  color: black;
}
